Geo/data/
VA_project/powerBI_work/
VA_project/python_work/changing_v1_pk_to_med_pk/data/
VA_project/python_work/creating_crimedata_confidence_metric/data/
VA_project/python_work/creating_threadminder_file/data/
VA_project/python_work/redoing_primary_keys/data/
NCIS Documentation/API Documentation - Appriss Insights Platform.pdf
NCIS Documentation/Arrest Monitoring Data Dictionary1.2 - Copy.docx
NCIS Documentation/Arrest Monitoring Data Dictionary1.2.docx
NCIS Documentation/NCIS Data Dictionary.docx
NCIS Documentation/NCIS_XML_Service_Documentation_FINAL_v2.8.docx
VA_project/python_work/creating_dev_sample_v2/data/cf_acxiomAppend_va2_10_14_2022.csv
VA_project/python_work/creating_dev_sample_v2/data/cf_agrAppend_va2_10_14_2022.csv
VA_project/python_work/creating_dev_sample_v2/data/cf_apprissAppend_va2_10_17_2022.csv
VA_project/python_work/creating_dev_sample_v2/data/dev_sample_HeartTable_10_17_2022.csv
VA_project/python_work/creating_dev_sample_v2/data/diction_NCICcodes_descriptions_CrimeTiers_CDCTiers_as_csv.csv
