Geo/data/
VA_project/powerBI_work/
VA_project/python_work/changing_v1_pk_to_med_pk/data/
VA_project/python_work/creating_crimedata_confidence_metric/data/
VA_project/python_work/creating_threadminder_file/data/
VA_project/python_work/redoing_primary_keys/data/
NCIS Documentation/API Documentation - Appriss Insights Platform.pdf
NCIS Documentation/Arrest Monitoring Data Dictionary1.2 - Copy.docx
NCIS Documentation/Arrest Monitoring Data Dictionary1.2.docx
NCIS Documentation/NCIS Data Dictionary.docx
NCIS Documentation/NCIS_XML_Service_Documentation_FINAL_v2.8.docx
VA_project/python_work/creating_dev_sample_v2/data/cf_acxiomAppend_va2_10_14_2022.csv
VA_project/python_work/creating_dev_sample_v2/data/cf_agrAppend_va2_10_14_2022.csv
VA_project/python_work/creating_dev_sample_v2/data/cf_apprissAppend_va2_10_17_2022.csv
# # # VA_project/python_work/creating_dev_sample_v2/data/dev_sample_HeartTable_10_17_2022.csv
VA_project/python_work/creating_dev_sample_v2/data/diction_NCICcodes_descriptions_CrimeTiers_CDCTiers_as_csv.csv
VA_project/video_meetings_navid/GMT20230131-153351_Recording_2560x1440.mp4
VA_project/video_meetings_navid/GMT20230131-153351_Recording.m4a
VA_project/video_meetings_navid/HW1 - Five Improvements on the Titanic Project - Due on Feb 8th at 530PM on OAKS! attached files Feb 5, 2023 349 PM.zip
VA_project/python_work/updating_ncic_codes_master_file/data/diction_NCICcodes_descriptions_CrimeTiers_CDCTiers_as_csv.csv
VA_project/python_work/updating_ncic_codes_master_file/data/gov_offical_ncic_list.csv
VA_project/python_work/creating_dev_sample_v2/data/out/acxiom_demo_cleaned_v1.csv
VA_project/python_work/creating_dev_sample_v2/data/out/agr_demo_cleaned_v1.csv
VA_project/python_work/creating_dev_sample_v2/data/dev_sample_HeartTable_10_17_2022.csv
VA_project/python_work/creating_dev_sample_v2/data/out/appriss_crime_cleaned_v1.csv
VA_project/python_work/creating_dev_sample_v2/data/out/model_data_v1.csv
VA_project/video_meetings_navid/meeting_1-data preprocessing/GMT20230131-153351_Recording_2560x1440.mp4
VA_project/video_meetings_navid/meeting_1-data preprocessing/GMT20230131-153351_Recording.m4a
VA_project/video_meetings_navid/meeting_2-guidance_on_data_imputaion/GMT20230216-154711_Recording_2560x1440.mp4
VA_project/video_meetings_navid/meeting_2-guidance_on_data_imputaion/GMT20230216-154711_Recording.m4a
VA_project/python_work/creating_crimedata_confidence_metric/scripts/Comparing Appriss and ClearForce Matches v2 (1).html
VA_project/python_work/creating_crimedata_confidence_metric/scripts/ClearForce_confidence_apprissCrimeData_v1.xlsx
VA_project/python_work/model_v1/data/feature_importance.csv
VA_project/python_work/model_v1/data/
VA_project/python_work/creating_dev_sample_v2/data/
